.App {
  text-align: center;

  .App-logo {
    height: 50px;
    pointer-events: none;
  }

  .App-header {
    background-color: #282c34;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        padding: 0 10px;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  .App-link {
    color: #61dafb;
  }
}
